html, body {
    height: 100%;
}

a {
    text-decoration: none;

    &:active,
    &:visited,
    &:hover,
    &:link {
        text-decoration: none;
    }
}

::selection {
    background-color: #FFDD33;
    color: #222222;
}
::-moz-selection {
    background-color: #FFDD33;
    color: #222222;
}

.btn {
    touch-action: none;
}

.flip {
    font-size: 30px;
}