@import 'util/index';

html, body {

    height: 100%;

    // @include device-mobile-tiny {
    //     font-size: 10px;
    // }
    @include device-mobile {
        font-size: 18px;
    }

    @include device-small {
        font-size: 14px;
    }

    @include device-medium {
        font-size: 16px;
    }

    @include device-large {
        font-size: 18px;
    }
}

.hand {
    cursor: pointer;
    cursor: hand;
}

.uppercase {
    text-transform: uppercase;
}

a {
    @extend .hand;
    text-decoration: none;

    &:active,
    &:visited,
    &:hover,
    &:link {
        text-decoration: none;
    }
}

p {
    font-size: 60px;
}