.fontname {
    font-family: 'fontname', sans-serif;
}

.fontname-bold {
    @extend .fontname;
    font-weight: 700;
}

.fontname-normal {
    @extend .fontname;
    font-weight: 400;
}

.fontname-light {
    @extend .fontname;
    font-weight: 300;
}